appdirs==1.4.4
arabic-reshaper==2.1.1
asgiref==3.2.10
cairocffi==1.2.0
CairoSVG==2.5.1
certifi==2021.5.30
cffi==1.14.5
cssselect2==0.4.1
defusedxml==0.6.0
distlib==0.3.2
Django==3.1.2
django-cors-headers==3.5.0
djangorestframework==3.12.1
filelock==3.0.12
future==0.18.2
html5lib==1.1
mysql-connector-python==8.0.27
Pillow==8.1.0
pipenv==2021.5.29
psycopg2-binary==2.8.6
pycparser==2.20
PyPDF2==1.26.0
Pyphen==0.10.0
python-bidi==0.4.2
pytz==2020.1
reportlab==3.5.59
six==1.15.0
sqlparse==0.4.1
tinycss2==1.1.0
virtualenv==20.4.7
virtualenv-clone==0.5.4
webencodings==0.5.1
xhtml2pdf==0.2.5
